<%- include("header.ejs")%>
<div class="top-level">
    <div class="second-header-container">
        <p id="your-posts" class="newsreader-semibold">
            Your posts <span id="number-of-posts">
                <% if (locals.blogPosts.length > 0) {%>
                <%= locals.blogPosts.length %> posts
                <% } %>
            </span>
        </p>
    </div>
    <div class="post-creation">
        <form action="/submit" method="post">
            <label for="title" id="your-title">Your Title:</label> <br>
            <input type="text" id="title" name="title" required><br><br>

            <label for="post" id="your-post" class="inter-regular">Your Post:</label> <br>
            <textarea id="post" name="post" rows="4" cols="50"></textarea>
            <br><br>
            <input type="submit" value="Upload →" class="button">
            <input type="hidden" name="id" value="<%= locals.blogPosts.length %>"/>
        </form>
    </div>

    <div class="post-list-display">
        <% if (locals.blogPosts) {
        locals.blogPosts.forEach((post) => {
        %>
            <div class="post-display">
                <h1 class="newsreader-semibold" id="post-title"><%= post['title'] %></h1>
                <p><%= post['post'] %></p>
                <div class="post-actions">
                    <form action="/delete" method="post">
                        <input type="button" name="edit" value="Edit" id="edit" class="button">
                        <input type="submit" name="delete" value="Delete" id="delete" class="button">
                        <input type="hidden" name="id" value="<%= post['id']%>"/>
                    </form>
                </div>
            </div>
        <% })
        }
        %>

    </div>
</div>
<%- include("footer.ejs")%>